@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>A little bit about us....</h3>

<p>I was one of three women in my undergraduate Computer Science class at IIT Kanpur (India). I had grown up in an all girls high school, and my 50 male classmates had grown up mostly in all boys high schools. We were too shy to interact with one another.

My first year at IIT was challenging. Our professors would give us programming assignments, intending for us to learn a lot of the computer programming basics. Except, most nights, I'd be up until 6am stuck on nuances of the assignment. I'd be seeing some random compiler error, or not understanding what the specifics of the assignment question meant. Google was too general for my questions as were discussion forums. I'd sit in a corner of the computer lab, too shy to ask the guys in my class. They'd all talk to one another, ask each other questions, and learn a lot by working together. I missed out on this learning. What was worse was I wouldn't even get to the core of the learning that the professors intended for us since I was stuck on a nuance and couldn't complete the assignment.

I went on to pursue my Masters in Computer Science at the University of Maryland, College Park. I worked at Oracle, Kosmix and Facebook as a software developer. I learned a lot on the job and eventually caught up to where my male classmates were in their careers. But I always wished I could have caught up while I had the opportunity in school.

I started Piazza so every student can have that opportunity to learn from her classmates. Whether she's too shy to ask, whether she's working alone in her dorm room, or whether her few friends in her class don't know the answer either.

I want Piazza to be a remedy for students who are not given the intellectual space, freedom, or support to fulfill their educational potential and desire for learning. And I want Piazza to empower instructors to have a positive, personal impact on more students.

Piazza is designed to connect students, TAs, and professors so every student can get help when she needs it — even at 2AM.

Today, hundreds of thousands of students across hundreds of campuses are using Piazza for their classes. Half of Stanford undergrads signed up in two terms, half of MIT in one. 15,000 students at Berkeley and 14,000 at Georgia Tech are learning on Piazza today. It warms me to think I started something that is impacting the way students learn and the way instructors teach.
</p>
