@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Contact Us</h3>
<br/><br />

<address>
    FAST NUCES<br />
    Islamabad, H-11 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    051-222-222-111
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:aliartiza75@yahoo.com">aliartiza75@yahoo.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:i130131@nu.edu.pk">i130131@nu.edu.pk</a>
</address>