@{
    ViewBag.Title = "Home Page";
    
}

<div class="jumbotron">
    <h1>Piazza</h1>
    <p class="lead">The incredibly easy, completely free Q&A platform

Save time and help students learn using the power of community</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>    Getting started</h2>
        <p>
            Piazza is a free platform for instructors to efficiently manage class Q&A. Students can post questions and collaborate to edit responses to these questions. Instructors can also answer questions, endorse student answers, and edit or delete any posted content.
            Piazza is designed to simulate real class discussion. It aims to get high quality answers to difficult questions, fast!
        </p>
    </div>
</div>
<br/><br /><br /><br />