
@{
    ViewBag.Title = "Add_Class";
        Layout = "~/Views/Shared/_Dashboard_layout.cshtml";
}
<head>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/Test.js"></script>
    <script src="~/Scripts/TeacherDashBoard.js"></script>
    <script src="~/Scripts/ie-emulation-modes-warning.js"></script>
    <script src="~/Scripts/ie10-viewport-bug-workaround.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container">

        <div class="form-signin">
            <h2 class="form-signin-heading">Class Information</h2>


            <input id="class_id" placeholder="Class Id " class="form-control" required autofocus type="text" />
            <input id="class_name"  placeholder="Class Name" class="form-control"  type="text" required />
            <input id="instruct_name" placeholder="Instructor Name" value="@HttpContext.Current.Session["Name"].ToString()" class="form-control" type="text" required />
            <input id="class_type" placeholder="Class Type" class="form-control" type="text" required />
            <input id="class_description" placeholder="Enter Description: MAX 100 character" type="text" class="form-control" >

            <input id="Button12" class="btn btn-lg btn-primary btn-block" Text="Sign in" type="button" value="Create Class" />

        </div>

    </div>
    <!-- /container -->
</body>

